{:paths ["src" :resource-paths]
 :deps {clj-commons/clj-yaml {:mvn/version "1.0.29"}
        clj-pid/clj-pid {:mvn/version "0.1.2"}
        com.draines/postal {:mvn/version "2.0.5"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.1026"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1118"}
        com.sun.mail/jakarta.mail {:mvn/version "1.6.8"} ; transitive dependency of com.draines/postal; fixes CVE-2025-7962
        com.taoensso/timbre {:mvn/version "6.8.0"}
        com.zaxxer/HikariCP {:mvn/version "5.0.1"}
        environ/environ {:mvn/version "1.2.0"}
        funcool/cuerdas {:mvn/version "2022.06.16-403"}
        logbug/logbug {:mvn/version "5.0.0"}
        nrepl/nrepl {:mvn/version "1.0.0"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/core.memoize {:mvn/version "1.2.281"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        org.postgresql/postgresql {:mvn/version "42.7.11"}
        spootnik/signal {:mvn/version "0.2.5"}
        pg-types/pg-types {:mvn/version  "3.0.0"}}

 :aliases {:resource-paths ["resources"]
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                      :main-opts ["-m" "antq.core"]}
           :cljfmt {:extra-deps {io.github.weavejester/cljfmt
                                 {:git/tag "0.16.4"
                                  :sha "389e7cafc7cd5d435ccd83ab931913449b807479"}}
                    :main-opts ["-m" "cljfmt.main"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd"}}
                   :ns-default scripts.build}}}
